.flip-card {
  background-color: transparent;
  width: 420px;
  height: 340px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  color: black;
  transform: rotateY(180deg);
}

.flip-card-front-image {
  width: 420px;
  height: 270px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.flip-button {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: transparent;
}

.flip-card-front-text {
  text-align: center;
}

.flip-card-bottom-text {
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}

.flip-card-back-description {
  font-weight: 100;
  margin-top: 20px !important;
  margin-bottom: 30px !important;
}
