@import '../constants/color';

.footerContainer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  background: rgba(24, 25, 26, 0.4);
  position: absolute;
  bottom: 0px;
  align-items: center;
  border-top: 1px solid $fourthColor;
}

.footerContainer {
  a {
    color: $fifthColor;
    text-decoration: none;
    font-size: 1rem;
  }
  a:hover {
    color: $fourthColor;
  }
}

