.container-skillbar {
  width: 100%;
  padding: 0 2.5%;
  margin-right: 5%;
  padding-top: 30px;
  height: auto;
  overflow: none;
}
.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: inherit;
  height: 30px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: center;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.15);
  height: 30px;
  line-height: 30px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-weight: 100;
  font-size: 14px;
}

.skillbar-container-bar {
  background: #ffffff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.skillbar-bar {
  height: 30px;
  width: 0px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bolder;
}

.skill-bar-animation-root {
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 3000;
}

/**** GENERATED CODE ****/

// Fixes https://github.com/Sid200026/WebGen/issues/40
// Error : animation to or from an underlying value is not yet supported

.skill-bar-percent-value-0 {
  animation: skill-animate-0 3000ms;
  width: 0%;
}

@keyframes skill-animate-0 {
  from {
    width: 0%;
  }
  to {
    width: 0%;
  }
}

.skill-bar-percent-value-1 {
  animation: skill-animate-1 3000ms;
  width: 1%;
}

@keyframes skill-animate-1 {
  from {
    width: 0%;
  }
  to {
    width: 1%;
  }
}

.skill-bar-percent-value-2 {
  animation: skill-animate-2 3000ms;
  width: 2%;
}

@keyframes skill-animate-2 {
  from {
    width: 0%;
  }
  to {
    width: 2%;
  }
}

.skill-bar-percent-value-3 {
  animation: skill-animate-3 3000ms;
  width: 3%;
}

@keyframes skill-animate-3 {
  from {
    width: 0%;
  }
  to {
    width: 3%;
  }
}

.skill-bar-percent-value-4 {
  animation: skill-animate-4 3000ms;
  width: 4%;
}

@keyframes skill-animate-4 {
  from {
    width: 0%;
  }
  to {
    width: 4%;
  }
}

.skill-bar-percent-value-5 {
  animation: skill-animate-5 3000ms;
  width: 5%;
}

@keyframes skill-animate-5 {
  from {
    width: 0%;
  }
  to {
    width: 5%;
  }
}

.skill-bar-percent-value-6 {
  animation: skill-animate-6 3000ms;
  width: 6%;
}

@keyframes skill-animate-6 {
  from {
    width: 0%;
  }
  to {
    width: 6%;
  }
}

.skill-bar-percent-value-7 {
  animation: skill-animate-7 3000ms;
  width: 7%;
}

@keyframes skill-animate-7 {
  from {
    width: 0%;
  }
  to {
    width: 7%;
  }
}

.skill-bar-percent-value-8 {
  animation: skill-animate-8 3000ms;
  width: 8%;
}

@keyframes skill-animate-8 {
  from {
    width: 0%;
  }
  to {
    width: 8%;
  }
}

.skill-bar-percent-value-9 {
  animation: skill-animate-9 3000ms;
  width: 9%;
}

@keyframes skill-animate-9 {
  from {
    width: 0%;
  }
  to {
    width: 9%;
  }
}

.skill-bar-percent-value-10 {
  animation: skill-animate-10 3000ms;
  width: 10%;
}

@keyframes skill-animate-10 {
  from {
    width: 0%;
  }
  to {
    width: 10%;
  }
}

.skill-bar-percent-value-11 {
  animation: skill-animate-11 3000ms;
  width: 11%;
}

@keyframes skill-animate-11 {
  from {
    width: 0%;
  }
  to {
    width: 11%;
  }
}

.skill-bar-percent-value-12 {
  animation: skill-animate-12 3000ms;
  width: 12%;
}

@keyframes skill-animate-12 {
  from {
    width: 0%;
  }
  to {
    width: 12%;
  }
}

.skill-bar-percent-value-13 {
  animation: skill-animate-13 3000ms;
  width: 13%;
}

@keyframes skill-animate-13 {
  from {
    width: 0%;
  }
  to {
    width: 13%;
  }
}

.skill-bar-percent-value-14 {
  animation: skill-animate-14 3000ms;
  width: 14%;
}

@keyframes skill-animate-14 {
  from {
    width: 0%;
  }
  to {
    width: 14%;
  }
}

.skill-bar-percent-value-15 {
  animation: skill-animate-15 3000ms;
  width: 15%;
}

@keyframes skill-animate-15 {
  from {
    width: 0%;
  }
  to {
    width: 15%;
  }
}

.skill-bar-percent-value-16 {
  animation: skill-animate-16 3000ms;
  width: 16%;
}

@keyframes skill-animate-16 {
  from {
    width: 0%;
  }
  to {
    width: 16%;
  }
}

.skill-bar-percent-value-17 {
  animation: skill-animate-17 3000ms;
  width: 17%;
}

@keyframes skill-animate-17 {
  from {
    width: 0%;
  }
  to {
    width: 17%;
  }
}

.skill-bar-percent-value-18 {
  animation: skill-animate-18 3000ms;
  width: 18%;
}

@keyframes skill-animate-18 {
  from {
    width: 0%;
  }
  to {
    width: 18%;
  }
}

.skill-bar-percent-value-19 {
  animation: skill-animate-19 3000ms;
  width: 19%;
}

@keyframes skill-animate-19 {
  from {
    width: 0%;
  }
  to {
    width: 19%;
  }
}

.skill-bar-percent-value-20 {
  animation: skill-animate-20 3000ms;
  width: 20%;
}

@keyframes skill-animate-20 {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}

.skill-bar-percent-value-21 {
  animation: skill-animate-21 3000ms;
  width: 21%;
}

@keyframes skill-animate-21 {
  from {
    width: 0%;
  }
  to {
    width: 21%;
  }
}

.skill-bar-percent-value-22 {
  animation: skill-animate-22 3000ms;
  width: 22%;
}

@keyframes skill-animate-22 {
  from {
    width: 0%;
  }
  to {
    width: 22%;
  }
}

.skill-bar-percent-value-23 {
  animation: skill-animate-23 3000ms;
  width: 23%;
}

@keyframes skill-animate-23 {
  from {
    width: 0%;
  }
  to {
    width: 23%;
  }
}

.skill-bar-percent-value-24 {
  animation: skill-animate-24 3000ms;
  width: 24%;
}

@keyframes skill-animate-24 {
  from {
    width: 0%;
  }
  to {
    width: 24%;
  }
}

.skill-bar-percent-value-25 {
  animation: skill-animate-25 3000ms;
  width: 25%;
}

@keyframes skill-animate-25 {
  from {
    width: 0%;
  }
  to {
    width: 25%;
  }
}

.skill-bar-percent-value-26 {
  animation: skill-animate-26 3000ms;
  width: 26%;
}

@keyframes skill-animate-26 {
  from {
    width: 0%;
  }
  to {
    width: 26%;
  }
}

.skill-bar-percent-value-27 {
  animation: skill-animate-27 3000ms;
  width: 27%;
}

@keyframes skill-animate-27 {
  from {
    width: 0%;
  }
  to {
    width: 27%;
  }
}

.skill-bar-percent-value-28 {
  animation: skill-animate-28 3000ms;
  width: 28%;
}

@keyframes skill-animate-28 {
  from {
    width: 0%;
  }
  to {
    width: 28%;
  }
}

.skill-bar-percent-value-29 {
  animation: skill-animate-29 3000ms;
  width: 29%;
}

@keyframes skill-animate-29 {
  from {
    width: 0%;
  }
  to {
    width: 29%;
  }
}

.skill-bar-percent-value-30 {
  animation: skill-animate-30 3000ms;
  width: 30%;
}

@keyframes skill-animate-30 {
  from {
    width: 0%;
  }
  to {
    width: 30%;
  }
}

.skill-bar-percent-value-31 {
  animation: skill-animate-31 3000ms;
  width: 31%;
}

@keyframes skill-animate-31 {
  from {
    width: 0%;
  }
  to {
    width: 31%;
  }
}

.skill-bar-percent-value-32 {
  animation: skill-animate-32 3000ms;
  width: 32%;
}

@keyframes skill-animate-32 {
  from {
    width: 0%;
  }
  to {
    width: 32%;
  }
}

.skill-bar-percent-value-33 {
  animation: skill-animate-33 3000ms;
  width: 33%;
}

@keyframes skill-animate-33 {
  from {
    width: 0%;
  }
  to {
    width: 33%;
  }
}

.skill-bar-percent-value-34 {
  animation: skill-animate-34 3000ms;
  width: 34%;
}

@keyframes skill-animate-34 {
  from {
    width: 0%;
  }
  to {
    width: 34%;
  }
}

.skill-bar-percent-value-35 {
  animation: skill-animate-35 3000ms;
  width: 35%;
}

@keyframes skill-animate-35 {
  from {
    width: 0%;
  }
  to {
    width: 35%;
  }
}

.skill-bar-percent-value-36 {
  animation: skill-animate-36 3000ms;
  width: 36%;
}

@keyframes skill-animate-36 {
  from {
    width: 0%;
  }
  to {
    width: 36%;
  }
}

.skill-bar-percent-value-37 {
  animation: skill-animate-37 3000ms;
  width: 37%;
}

@keyframes skill-animate-37 {
  from {
    width: 0%;
  }
  to {
    width: 37%;
  }
}

.skill-bar-percent-value-38 {
  animation: skill-animate-38 3000ms;
  width: 38%;
}

@keyframes skill-animate-38 {
  from {
    width: 0%;
  }
  to {
    width: 38%;
  }
}

.skill-bar-percent-value-39 {
  animation: skill-animate-39 3000ms;
  width: 39%;
}

@keyframes skill-animate-39 {
  from {
    width: 0%;
  }
  to {
    width: 39%;
  }
}

.skill-bar-percent-value-40 {
  animation: skill-animate-40 3000ms;
  width: 40%;
}

@keyframes skill-animate-40 {
  from {
    width: 0%;
  }
  to {
    width: 40%;
  }
}

.skill-bar-percent-value-41 {
  animation: skill-animate-41 3000ms;
  width: 41%;
}

@keyframes skill-animate-41 {
  from {
    width: 0%;
  }
  to {
    width: 41%;
  }
}

.skill-bar-percent-value-42 {
  animation: skill-animate-42 3000ms;
  width: 42%;
}

@keyframes skill-animate-42 {
  from {
    width: 0%;
  }
  to {
    width: 42%;
  }
}

.skill-bar-percent-value-43 {
  animation: skill-animate-43 3000ms;
  width: 43%;
}

@keyframes skill-animate-43 {
  from {
    width: 0%;
  }
  to {
    width: 43%;
  }
}

.skill-bar-percent-value-44 {
  animation: skill-animate-44 3000ms;
  width: 44%;
}

@keyframes skill-animate-44 {
  from {
    width: 0%;
  }
  to {
    width: 44%;
  }
}

.skill-bar-percent-value-45 {
  animation: skill-animate-45 3000ms;
  width: 45%;
}

@keyframes skill-animate-45 {
  from {
    width: 0%;
  }
  to {
    width: 45%;
  }
}

.skill-bar-percent-value-46 {
  animation: skill-animate-46 3000ms;
  width: 46%;
}

@keyframes skill-animate-46 {
  from {
    width: 0%;
  }
  to {
    width: 46%;
  }
}

.skill-bar-percent-value-47 {
  animation: skill-animate-47 3000ms;
  width: 47%;
}

@keyframes skill-animate-47 {
  from {
    width: 0%;
  }
  to {
    width: 47%;
  }
}

.skill-bar-percent-value-48 {
  animation: skill-animate-48 3000ms;
  width: 48%;
}

@keyframes skill-animate-48 {
  from {
    width: 0%;
  }
  to {
    width: 48%;
  }
}

.skill-bar-percent-value-49 {
  animation: skill-animate-49 3000ms;
  width: 49%;
}

@keyframes skill-animate-49 {
  from {
    width: 0%;
  }
  to {
    width: 49%;
  }
}

.skill-bar-percent-value-50 {
  animation: skill-animate-50 3000ms;
  width: 50%;
}

@keyframes skill-animate-50 {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

.skill-bar-percent-value-51 {
  animation: skill-animate-51 3000ms;
  width: 51%;
}

@keyframes skill-animate-51 {
  from {
    width: 0%;
  }
  to {
    width: 51%;
  }
}

.skill-bar-percent-value-52 {
  animation: skill-animate-52 3000ms;
  width: 52%;
}

@keyframes skill-animate-52 {
  from {
    width: 0%;
  }
  to {
    width: 52%;
  }
}

.skill-bar-percent-value-53 {
  animation: skill-animate-53 3000ms;
  width: 53%;
}

@keyframes skill-animate-53 {
  from {
    width: 0%;
  }
  to {
    width: 53%;
  }
}

.skill-bar-percent-value-54 {
  animation: skill-animate-54 3000ms;
  width: 54%;
}

@keyframes skill-animate-54 {
  from {
    width: 0%;
  }
  to {
    width: 54%;
  }
}

.skill-bar-percent-value-55 {
  animation: skill-animate-55 3000ms;
  width: 55%;
}

@keyframes skill-animate-55 {
  from {
    width: 0%;
  }
  to {
    width: 55%;
  }
}

.skill-bar-percent-value-56 {
  animation: skill-animate-56 3000ms;
  width: 56%;
}

@keyframes skill-animate-56 {
  from {
    width: 0%;
  }
  to {
    width: 56%;
  }
}

.skill-bar-percent-value-57 {
  animation: skill-animate-57 3000ms;
  width: 57%;
}

@keyframes skill-animate-57 {
  from {
    width: 0%;
  }
  to {
    width: 57%;
  }
}

.skill-bar-percent-value-58 {
  animation: skill-animate-58 3000ms;
  width: 58%;
}

@keyframes skill-animate-58 {
  from {
    width: 0%;
  }
  to {
    width: 58%;
  }
}

.skill-bar-percent-value-59 {
  animation: skill-animate-59 3000ms;
  width: 59%;
}

@keyframes skill-animate-59 {
  from {
    width: 0%;
  }
  to {
    width: 59%;
  }
}

.skill-bar-percent-value-60 {
  animation: skill-animate-60 3000ms;
  width: 60%;
}

@keyframes skill-animate-60 {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

.skill-bar-percent-value-61 {
  animation: skill-animate-61 3000ms;
  width: 61%;
}

@keyframes skill-animate-61 {
  from {
    width: 0%;
  }
  to {
    width: 61%;
  }
}

.skill-bar-percent-value-62 {
  animation: skill-animate-62 3000ms;
  width: 62%;
}

@keyframes skill-animate-62 {
  from {
    width: 0%;
  }
  to {
    width: 62%;
  }
}

.skill-bar-percent-value-63 {
  animation: skill-animate-63 3000ms;
  width: 63%;
}

@keyframes skill-animate-63 {
  from {
    width: 0%;
  }
  to {
    width: 63%;
  }
}

.skill-bar-percent-value-64 {
  animation: skill-animate-64 3000ms;
  width: 64%;
}

@keyframes skill-animate-64 {
  from {
    width: 0%;
  }
  to {
    width: 64%;
  }
}

.skill-bar-percent-value-65 {
  animation: skill-animate-65 3000ms;
  width: 65%;
}

@keyframes skill-animate-65 {
  from {
    width: 0%;
  }
  to {
    width: 65%;
  }
}

.skill-bar-percent-value-66 {
  animation: skill-animate-66 3000ms;
  width: 66%;
}

@keyframes skill-animate-66 {
  from {
    width: 0%;
  }
  to {
    width: 66%;
  }
}

.skill-bar-percent-value-67 {
  animation: skill-animate-67 3000ms;
  width: 67%;
}

@keyframes skill-animate-67 {
  from {
    width: 0%;
  }
  to {
    width: 67%;
  }
}

.skill-bar-percent-value-68 {
  animation: skill-animate-68 3000ms;
  width: 68%;
}

@keyframes skill-animate-68 {
  from {
    width: 0%;
  }
  to {
    width: 68%;
  }
}

.skill-bar-percent-value-69 {
  animation: skill-animate-69 3000ms;
  width: 69%;
}

@keyframes skill-animate-69 {
  from {
    width: 0%;
  }
  to {
    width: 69%;
  }
}

.skill-bar-percent-value-70 {
  animation: skill-animate-70 3000ms;
  width: 70%;
}

@keyframes skill-animate-70 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

.skill-bar-percent-value-71 {
  animation: skill-animate-71 3000ms;
  width: 71%;
}

@keyframes skill-animate-71 {
  from {
    width: 0%;
  }
  to {
    width: 71%;
  }
}

.skill-bar-percent-value-72 {
  animation: skill-animate-72 3000ms;
  width: 72%;
}

@keyframes skill-animate-72 {
  from {
    width: 0%;
  }
  to {
    width: 72%;
  }
}

.skill-bar-percent-value-73 {
  animation: skill-animate-73 3000ms;
  width: 73%;
}

@keyframes skill-animate-73 {
  from {
    width: 0%;
  }
  to {
    width: 73%;
  }
}

.skill-bar-percent-value-74 {
  animation: skill-animate-74 3000ms;
  width: 74%;
}

@keyframes skill-animate-74 {
  from {
    width: 0%;
  }
  to {
    width: 74%;
  }
}

.skill-bar-percent-value-75 {
  animation: skill-animate-75 3000ms;
  width: 75%;
}

@keyframes skill-animate-75 {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}

.skill-bar-percent-value-76 {
  animation: skill-animate-76 3000ms;
  width: 76%;
}

@keyframes skill-animate-76 {
  from {
    width: 0%;
  }
  to {
    width: 76%;
  }
}

.skill-bar-percent-value-77 {
  animation: skill-animate-77 3000ms;
  width: 77%;
}

@keyframes skill-animate-77 {
  from {
    width: 0%;
  }
  to {
    width: 77%;
  }
}

.skill-bar-percent-value-78 {
  animation: skill-animate-78 3000ms;
  width: 78%;
}

@keyframes skill-animate-78 {
  from {
    width: 0%;
  }
  to {
    width: 78%;
  }
}

.skill-bar-percent-value-79 {
  animation: skill-animate-79 3000ms;
  width: 79%;
}

@keyframes skill-animate-79 {
  from {
    width: 0%;
  }
  to {
    width: 79%;
  }
}

.skill-bar-percent-value-80 {
  animation: skill-animate-80 3000ms;
  width: 80%;
}

@keyframes skill-animate-80 {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

.skill-bar-percent-value-81 {
  animation: skill-animate-81 3000ms;
  width: 81%;
}

@keyframes skill-animate-81 {
  from {
    width: 0%;
  }
  to {
    width: 81%;
  }
}

.skill-bar-percent-value-82 {
  animation: skill-animate-82 3000ms;
  width: 82%;
}

@keyframes skill-animate-82 {
  from {
    width: 0%;
  }
  to {
    width: 82%;
  }
}

.skill-bar-percent-value-83 {
  animation: skill-animate-83 3000ms;
  width: 83%;
}

@keyframes skill-animate-83 {
  from {
    width: 0%;
  }
  to {
    width: 83%;
  }
}

.skill-bar-percent-value-84 {
  animation: skill-animate-84 3000ms;
  width: 84%;
}

@keyframes skill-animate-84 {
  from {
    width: 0%;
  }
  to {
    width: 84%;
  }
}

.skill-bar-percent-value-85 {
  animation: skill-animate-85 3000ms;
  width: 85%;
}

@keyframes skill-animate-85 {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}

.skill-bar-percent-value-86 {
  animation: skill-animate-86 3000ms;
  width: 86%;
}

@keyframes skill-animate-86 {
  from {
    width: 0%;
  }
  to {
    width: 86%;
  }
}

.skill-bar-percent-value-87 {
  animation: skill-animate-87 3000ms;
  width: 87%;
}

@keyframes skill-animate-87 {
  from {
    width: 0%;
  }
  to {
    width: 87%;
  }
}

.skill-bar-percent-value-88 {
  animation: skill-animate-88 3000ms;
  width: 88%;
}

@keyframes skill-animate-88 {
  from {
    width: 0%;
  }
  to {
    width: 88%;
  }
}

.skill-bar-percent-value-89 {
  animation: skill-animate-89 3000ms;
  width: 89%;
}

@keyframes skill-animate-89 {
  from {
    width: 0%;
  }
  to {
    width: 89%;
  }
}

.skill-bar-percent-value-90 {
  animation: skill-animate-90 3000ms;
  width: 90%;
}

@keyframes skill-animate-90 {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

.skill-bar-percent-value-91 {
  animation: skill-animate-91 3000ms;
  width: 91%;
}

@keyframes skill-animate-91 {
  from {
    width: 0%;
  }
  to {
    width: 91%;
  }
}

.skill-bar-percent-value-92 {
  animation: skill-animate-92 3000ms;
  width: 92%;
}

@keyframes skill-animate-92 {
  from {
    width: 0%;
  }
  to {
    width: 92%;
  }
}

.skill-bar-percent-value-93 {
  animation: skill-animate-93 3000ms;
  width: 93%;
}

@keyframes skill-animate-93 {
  from {
    width: 0%;
  }
  to {
    width: 93%;
  }
}

.skill-bar-percent-value-94 {
  animation: skill-animate-94 3000ms;
  width: 94%;
}

@keyframes skill-animate-94 {
  from {
    width: 0%;
  }
  to {
    width: 94%;
  }
}

.skill-bar-percent-value-95 {
  animation: skill-animate-95 3000ms;
  width: 95%;
}

@keyframes skill-animate-95 {
  from {
    width: 0%;
  }
  to {
    width: 95%;
  }
}

.skill-bar-percent-value-96 {
  animation: skill-animate-96 3000ms;
  width: 96%;
}

@keyframes skill-animate-96 {
  from {
    width: 0%;
  }
  to {
    width: 96%;
  }
}

.skill-bar-percent-value-97 {
  animation: skill-animate-97 3000ms;
  width: 97%;
}

@keyframes skill-animate-97 {
  from {
    width: 0%;
  }
  to {
    width: 97%;
  }
}

.skill-bar-percent-value-98 {
  animation: skill-animate-98 3000ms;
  width: 98%;
}

@keyframes skill-animate-98 {
  from {
    width: 0%;
  }
  to {
    width: 98%;
  }
}

.skill-bar-percent-value-99 {
  animation: skill-animate-99 3000ms;
  width: 99%;
}

@keyframes skill-animate-99 {
  from {
    width: 0%;
  }
  to {
    width: 99%;
  }
}

.skill-bar-percent-value-100 {
  animation: skill-animate-100 3000ms;
  width: 100%;
}

@keyframes skill-animate-100 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/**** END ****/

@media only screen and (max-width: 750px) {
  .container-skillbar {
    width: 95%;
    padding-top: 30px;
    height: auto;
    overflow: none;
  }
  .skillbar-title span {
    font-size: 12px;
    font-weight: 100;
  }
}
