<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>WebGen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no" />
    <meta name="description" content="An open source personal website generator">
    <meta name="keywords" content="personal, website, generator, personal website, developer website">
    <meta name="author" content="Siddharth Singha Roy">
    <link rel="canonical" href="ADD LINK HERE">
    <link rel="apple-touch-icon" sizes="180x180" href="public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="public/favicon-16x16.png">
    <link rel="manifest" href="public/manifest.webmanifest">
  </head>
  <body>
    <div id="WebGen"></div>
    <script src="public/build/bundle.js"></script>
  </body>
</html>