@import '../../constants/color';

#otherpages {
  background: $fourthColor;
  color: black;
  position: fixed;
  left: 2rem;
  top: 5rem;
  width: 10rem;
  z-index: 3;
}

.menuItem {
  background: $fourthColor !important;
  border-bottom: 1px solid $primary-color !important;
}

@media only screen and (max-width: 750px) {
    #otherpages {
        left:0.7rem;
    }
}