@import '../../constants/color';

.MuiStepIcon-root {
  color: $thirdColor !important;
}

.MuiStepIcon-root.MuiStepIcon-active {
  color: $fourthColor !important;
}

.MuiStepIcon-text {
  fill: $primary-color !important;
}
.MuiStepLabel-active {
  color: $fourthColor !important;
  font-size: 1.3rem;
}
.MuiStepLabel-completed {
  color: $fifthColor !important;
}
.MuiStepIcon-root:hover {
  cursor: pointer !important;
}
.backnextbtn {
  border: 2px solid black !important;
  color: $thirdColor !important;
}
.Mui-disabled {
  color: rgb(92, 91, 91) !important;
}
.MuiMobileStepper-dot {
  width: 10px !important;
  height: 10px !important;
  margin: 0px 4px !important;
}